<div class="container main_page">
	<div class="row">
	<div class="col-md-12 study_subj_div">
		<span class="study_subj">All</span>
		<span class="study_subj">Maths</span>
		<span class="study_subj">Science</span>
		<span class="study_subj">Social Science</span>
		<span class="study_subj">PT</span>
		<span class="study_subj">Langauge</span>

	</div>



		<div class="col-md-12">


			<div class="col-sm-3" *ngFor = 'let item of topicList'>
				<div class="row study_row">
				<div class="col-sm-12 study_block">
					<div class="col-sm-12">
						<a href="http://codematrix.space/whiteboard/maths.html" class="study_topic_name" target="_blank"><p>{{item.topic_name}}</p></a>
						<p>{{item.date}}</p>
						<p>{{item.status}}</p>
					</div>
					<div class="col-sm-12 study_btn">
						<a href="http://codematrix.space/whiteboard/maths.html" target="_blank"><button class="btn btn-sm btn-primary">VIEW</button></a>
					</div>
				</div>
				</div>
			</div>




		</div>


	</div>
</div>
