<div class="container main_page">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="">
            <a>
              <select class="form-control ">
                <option selected="true">CLASS</option>
                <option value="">FIRST YEAR</option>
                <option value="">SECOND YEAR</option>
              </select>
            </a>
          </li>
          <li class="hand-arrow-right"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></li>
          <li class="">
            <a>
              <select class="form-control">
                <option selected="true">SUBJECT</option>
                <option>MATHEMATICS</option>
                <option>PHYSICS</option>
                <option>CHEMISTRY</option>
                <option>BIOLOGY</option>
                <option>COMPUTERS</option>
                <option>STATISTICS</option>
                <option>ENGLISH</option>
                <option>HISTORY</option>
              </select>
            </a>
          </li>
          <li class="hand-arrow-right"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></li>
          <li class="">
            <a>
              <select class="form-control">
                <option selected="true">MODULE</option>
                <option>ARITHMETIC</option>
                <option>DIFFERENTIAL</option>
                <option>INTEGRATION</option>
                <option>ALGEBRA</option>
              </select>
            </a>
          </li>
        </ul>
        <ul class="list-inline header-buttons">
          <li class="list-inline-item ">
            <a href="#" data-toggle="tooltip" title="To select the Modules">
              <button class="btn btn-xs btn-primary">GO</button>
            </a>
          </li>
     
          <li class="list-inline-item">
            <a href="#" data-toggle="tooltip" title="To Publish the Modules">
              <button class="btn btn-info btn-xs">PUBLISH</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>Homework</h4> </div>
    <div class="col-md-2 text-center">
      <h4>Date</h4> </div>
  </div>
  <hr>


  <div id="table-tree-grid" class="row">
    <tree-root #tree [nodes]="nodes" [options]="" [focused]="true" (event)="onEvent($event)" (initialized)="onInitialized(tree)">
      <ng-template #treeNodeTemplate let-node>
        <div style="width:100%"> <a href="http://codematrix.space/whiteboard/maths/{{node.data.id}}.html" target="_blank">{{ node.data.name }}</a>
          <input type="date" name="date" class="date-picker date-status-{{node.data.status}}" value={{node.data.date}}/> </div>
      </ng-template>s
      <ng-template #loadingTemplate>Loading, please hold....</ng-template>
    </tree-root>
  </div>

</div>
<!-- container end -->
