.date-picker{
     width: 138px;
     border-radius: 2px;
     padding-left: 2px;
     font-size: 13px;
     font-weight: 700;
     float:right;
}

.date-status-0{
   color:black;
  background-color: #d8d7d8;;
}

.date-status-1{
   color:black;
   background-color: white;
}

.date-status-2{
   color:green;
   background-color: white;
}

.date-status-3{
   color:red;
   background-color: white;
}


/* Menu & drop down */ 
.hand-arrow-right{
    vertical-align:middle;
    height:62px;
    width:25px;
    line-height:62px;
    font-size:medium;
    color:#fff;
}


.navbar-inverse{
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: white;
}

.header-buttons{
    float: right;
    margin-top: 20px;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance: none;
    
    padding: 2px 30px 2px 20px;
    border: none;
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: white;
     
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: #FF8C00;
}
/*for IE10*/
select::-ms-expand {
    display: none;
}