 <div class="container about_page">
  <div class="container-fluid" id="content">
        <div class="row">
            
			 <div class="col-md-12 col-sm-12 about_text">
			     <p>Pegasus Consulting was incorporated in 2015 to bring a new dimension into the education arena, with the combined experience of the founders in            the education, industry and technology spheres. Based in Bangalore, these individuals have over 100 man years of combined experience, gained both in India and internationally.</p>​
				<p>The company has set its sights on becoming an international player of repute in providing custom business solutions using IT to deliver a rich end-user experience in the education domain.</p>								​
				<p>The company has built a solid ecosystem of technology and education partners and intends to create a multi-channel go-to-market strategy to deliver quality educational content to not just the urban populace but also provide the same quality of content to the upcoming and socially challenged segments of society.</p>				​
               <p>The promoters have an innate belief in the philosophy of equality of education and intend to deliver the content free of cost to those who are in true need. Giving back to society and accepting social responsibility for sharing knowledge remains a firm tenet of the organization.</p>		
				
            </div>
			 <div class="col-md-12 col-sm-12 about_text">
			      
			     <div class="col-md-6 col-sm-12">
				 
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;LearnWiz<sup>©</sup> is a simple curriculum based customizable tool that helps teachers focus on imparting knowledge</p>
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Wide variety of content – text, graphics, animation, voice-over, video.</p>
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Archivable content for easy revision.</p>
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Simple to administer.</p>
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Teacher Mode: Prepare, Teach, Assign, Test.</p>
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Student Mode: Revise, Verify.</p>
				 </div>

				 <div class="col-md-6 col-sm-12">
					 <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;Content readily available or specific content uploaded.</p>
					  <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;LearnWiz<sup>©</sup> is delivered via any web browser, without the need for high speed internet connectivity. Content can be delivered online for a student to download and print. </p>
					  <p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>&nbsp;LearnWiz<sup>©</sup> is available 24x7 – ready now with a content upload time of 4 weeks to delivery.</p><p><i class="glyphicon glyphicon-ok" style="color: #fe9a4b;"></i>  LearnWiz<sup>©</sup>&nbsp;is accessible from the comfort of the student’s home to the classroom in the remotest village</p>
				 </div>
				 
            </div>
			
			 
        </div>
        <!-- /.row -->
    </div>
    </div>