<div class="container main_page">
<div class="container-fluid" id="content">
    <div class="row">
        
	   <div class="col-md-12 col-sm-12 home_text" style=" margin-top:30px;">
		 <div class="row">
        <div class="col-md-7">
            <form name="contact_form" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label class="contact_label">Name:</label>
                        <input type="text" class="form-control" name="con_name" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label class="contact_label">Phone Number:</label>
                        <input type="tel" class="form-control" name="con_phone" required>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label class="contact_label">Email Address:</label>
                        <input type="email" class="form-control" name="con_email" required>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label class="contact_label">Message:</label>
                        <textarea rows="5" cols="100" class="form-control" name="con_message" maxlength="999" style="resize:none" required></textarea>
                    </div>
                </div>

                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-warning">Send Message</button>
            </form>
        </div>
		<div class="col-md-5">
            
						<h4 class="heading-primary"><strong class="heading_office">Office</strong></h4>
						<ul class="list list-icons list-icons-style-3 mt-xlg addr">
							<li><strong>Address:</strong> 101, Chateau, 59, 6th Main, Malleswaram,<br> Bangalore-560003</li>
							<li class="tell"> <strong>Phone:</strong> +91-98448-01021, +91-98440-37963</li>
							<li> <strong>Email:</strong> <a href="mailto:info@pegasusconsulting.co.in">info@pegasusconsulting.co.in</a></li>
						</ul>

						<hr>

						<h4 class="heading-primary"><strong class="heading_office">Business Hours</strong></h4>
						<ul class="list list-icons list-dark mt-xlg addr">
							<li>Monday - Friday 9am to 5pm</li>
							<li>Saturday - 9am to 2pm</li>
							<li>Sunday - Closed</li>
						</ul>

					</div>

        </div>

    </div>
		     
			
        </div>
		
		 
    </div>
    </div>