<div class="container main_page">
    <div class="row topic_row">
        <div class="col-md-12">
            <div class="col-md-4 topic_main">
            <div class="col-md-12 topic_div">
                 <div class=" col-sm-12 text-center topic_title">RATIONAL NUMBERS</div>
                <div class="col-sm-12 topic_info">
                    <div class="col-sm-12 text-center topic_date">10/12/2016</div>
                    <div class="col-sm-12 text-center topic_status">Published</div>
                </div>
                <div class="col-md-12 text-center topic_btn">
                <div class="col-sm-6 pull-left"><a href="#" class="btn btn-warning btn-sm" role="button">Test</a></div>
                <div class="col-sm-6 pull-right"><a href="#" class="btn btn-info btn-sm" role="button">Teach</a></div>
                </div>
            </div>
            </div>

            <div class="col-md-4 topic_main">
            <div class="col-md-12 topic_div">
                 <div class=" col-sm-12 text-center topic_title">RATIONAL NUMBERS</div>
                <div class="col-md-12 topic_info">
                    <div class="col-sm-12 text-center topic_date">10/12/2016</div>
                    <div class="col-sm-12 text-center topic_status">Published</div>
                </div>
                <div class="col-md-12 text-center">
                <div class="col-sm-6 pull-left"><a href="maths.html" class="btn btn-warning btn-sm" role="button">Test</a></div>
                <div class="col-sm-6 pull-right"><a href="maths.html" class="btn btn-info btn-sm" role="button">Teach</a></div>
                </div>
            </div>
            </div>

         <div class="col-md-4 topic_main">
            <div class="col-md-12  topic_div">
                 <div class=" col-sm-12 text-center topic_title">RATIONAL NUMBERS</div>
                <div class="col-md-12 topic_info">
                    <div class="col-sm-12 text-center topic_date">10/12/2016</div>
                    <div class="col-sm-12 text-center topic_status">Published</div>
                </div>
                <div class="col-md-12 text-center">
                <div class="col-sm-6 pull-left"><a href="maths.html" class="btn btn-warning btn-sm" role="button">Test</a></div>
                <div class="col-sm-6 pull-right"><a href="maths.html" class="btn btn-info btn-sm" role="button">Teach</a></div>
                </div>
            </div>
            </div>


        </div>       
    </div>
</div>









<!-- 
    <div class="container well" id="yadcf_example" style="margin-top:65px;">
	
    

    <div class="col-md-12 " id="container" style="width:100% margin-top:10px;">
	 
	 <div class="col-md-4 column productbox" style=" margin-top:10px;">
    
    <div class="pricetext">RATIONAL NUMBERS</div>
    <div class="productprice"><div class="producttitle">10/12/2016</div><div class="producttitle">Published</div><div class="pull-left"><a href="maths.html" class="btn btn-warning btn-sm" role="button">Test</a></div><div class="pull-right"><a href="maths.html" class="btn btn-info btn-sm" role="button">Teach</a></div></div>
</div>

 
	 <div class="col-md-4 column productbox" style=" margin-top:10px;">
    
    <div class="pricetext">LIGHT</div>
    <div class="productprice"><div class="producttitle">10/12/2016</div><div class="producttitle">Published</div><div class="pull-left"><a href="physics.html" class="btn btn-warning btn-sm" role="button">Test</a></div><div class="pull-right"><a href="physics.html" class="btn btn-info btn-sm" role="button">Teach</a></div></div>
</div>

     <div class="col-md-4 column productbox" style=" margin-top:10px;">
    
    <div class="pricetext">SAMPLE QUESTIONS</div>
    <div class="productprice"><div class="producttitle">10/12/2016</div><div class="producttitle">Published</div><div class="pull-left"><a href="sample_test.html" class="btn btn-warning btn-sm" role="button">Test</a></div><div class="pull-right"><a href="sample_teach.html" class="btn btn-info btn-sm" role="button">Teach</a></div></div>
</div>
 

	
	</div>
</div> -->