<div class="container main_page">
<div class="col-md-12">
  <div class="col-md-7 breadcrumb_div">
    <ol class="breadcrumb breadcrumb-arrow">
    <li><a>
        <div class="form-group filter">
         <select class="form-control input-sm selectpicker">
            <option value="">FIRST YEAR</option>
            <option value="">SECOND YEAR</option>
          </select>
        </div>
      </a></li>

    <li><a>
      <div class="form-group filter">
      <select class="form-control input-sm selectpicker">
        <option>MATHEMATICS</option>
        <option>PHYSICS</option>
        <option>CHEMISTRY</option>
        <option>BIOLOGY</option>
        <option>COMPUTERS</option>
        <option>STATISTICS</option>
        <option>ENGLISH</option>
        <option>HISTORY</option>
      </select>
      </div>
      </a></li>

    <li><a>
      <div class="form-group filter">
           <select class="form-control input-sm selectpicker">
             <option>ARITHMETIC</option>
             <option>DIFFERENTIAL</option>
             <option>INTEGRATION</option>
             <option>ALGEBRA</option>
          </select>
      </div>
    </a></li>  
  </ol>
  </div>


  <div class="col-md-5 btn_div">

  <ul class="list-inline">
    <li class="list-inline-item"><a href="#" data-toggle="tooltip" title="To select the Modules"><button class="btn btn-xs btn-primary">GO</button></a></li>

    <li class="list-inline-item"><a href="#"   data-toggle="tooltip" title="To Publish the Modules"><button class="btn btn-info btn-xs">PUBLISH</button></a> 
        </li>

    <li class="list-inline-item"><a href="#" data-toggle="tooltip" title="Go to the Slides"><button class="btn btn-warning btn-xs">GO TO SLIDES</button></a>
     </li>

  </ul>
  </div>

</div>
</div>
     