<div class="container main_page">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="">
            <a>
              <select class="form-control">
                <option selected="true">CLASS</option>
                <option value="">FIRST YEAR</option>
                <option value="">SECOND YEAR</option>
              </select>
            </a>
          </li>
          <li class="hand-arrow-right"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></li>
          <li class="">
            <a>
              <select class="form-control">
                <option selected="true">SUBJECT</option>
                <option>MATHEMATICS</option>
                <option>PHYSICS</option>
                <option>CHEMISTRY</option>
                <option>BIOLOGY</option>
                <option>COMPUTERS</option>
                <option>STATISTICS</option>
                <option>ENGLISH</option>
                <option>HISTORY</option>
              </select>
            </a>
          </li>
          <li class="hand-arrow-right"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></li>
          <li class="">
            <a>
              <select class="form-control">
                <option selected="true">MODULE</option>
                <option>ARITHMETIC</option>
                <option>DIFFERENTIAL</option>
                <option>INTEGRATION</option>
                <option>ALGEBRA</option>
              </select>
            </a>
          </li>
        </ul>
        <ul class="list-inline header-buttons">
          <li class="list-inline-item ">
              <button class="btn btn-xs btn-primary">GO</button>
          </li>
          <li class="list-inline-item">
              <button class="btn btn-success btn-xs"><a href="http://codematrix.space/whiteboard/maths.html" target="_blank" class="teach_slide">TEACH</a></button>
          </li>
          <li class="list-inline-item">
              <button (click)="publishModules();" class="btn btn-info btn-xs">PUBLISH</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>Module</h4>
    </div>
    <div class="col-md-2 text-center">
      <h4>Date</h4>
    </div>
  </div>
  <hr>
  <div id="table-tree-grid" class="row">
    <tree-root #tree [nodes]="nodes" [options]="" [focused]="true">
      <ng-template #treeNodeTemplate let-node>
        <div style="width:100%">
          <input [hidden]="showPublishCheckbox" (change)="check(node, !node.data.checked)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked">
          <a href="http://codematrix.space/whiteboard/maths.html" target="_blank">{{ node.data.name }}</a>
          <i [hidden]="!node.data.published"><span  class="glyphicon glyphicon-ok" aria-hidden="true"></span></i>
          <my-date-picker  name="date"  class="date-picker date-status-{{node.data.status}}" [selDate]="node.data.date"  [options]="myDatePickerOptions"></my-date-picker>
        </div>
      </ng-template>
      <ng-template #loadingTemplate>Loading, please hold....</ng-template>
    </tree-root>
  </div>
  <br>
  <div [hidden]="showPublishCheckbox"> 
      <button (click)="publishSubmit();" class="btn btn-success btn-xs">SUBMIT PUBLISH</button>
  </div>
</div>
<!-- container end -->