  <div class="container ">
  	    <div class="container-flid" id="content">
	<div class="row" id="main">
	
       	<div class="row" >

		
	
 <div class="col-md-12  mob_mb20 student_dash">
			<div class="section3_heading">
				<h4>Welcome to the Student Menu. There are two key tasks you can do in this page.
</h4>
			</div>

			<div class="section3_body">
				<ul>
<li class="lis"><a href="#" class="links">Revise</a> the work that was taught in class using Learnwiz© as a virtual blackboard.
</li>
<li class="lis"><a href="#" class="links">Verify</a> the answers to the test that was administered in the class.</li>
				</ul>
			</div>
		</div>	
		
		      
	</div>
    </div>
     </div>  
  </div>
