   <div class="container main_page">
   	 <div class="row">
   	 	<div class="col-md-12 text-center">
   	 		<div class="col-md-3">
   	 			<div class="col-md-12 profile_inner">
                	<div>
					    <h2>Welcome Ms.Teacher</h2>
        				<img src="./assets/img/logo.jpg" width="200px" alt="Teacher" class="img-circle img-thumbnail">                       
        			</div>
        		</div>
   	 		</div>
   	 		<div class="col-md-9">
   	 			<div class="col-md-12 profile_inner details">


					<hr class="colorgraph">
					<table class="table">
					<tbody>
					<tr>
					<td>Name</td>
					<td>{{username}}</td>         
					</tr>
					<tr>
					<td>Institution</td>
					<td>Pegasus Consulting</td>         
					</tr>
					<tr>
					<td>Phone</td>
					<td>9874563210</td>         
					</tr>
					<tr>
					<td>E-mail</td>
					<td>teacher@pegasus.com</td>         
					</tr>
					<tr>
					<td>Curriculum 1</td>
					<td>CBSE</td>         
					</tr>
					<tr>
					<td>Curriculum 2</td>
					<td>ICSE</td>         
					</tr>
					<tr>
					<td>Subject 1</td>
					<td>Mathematics</td>         
					</tr>
					<tr>
					<td>Subject 2</td>
					<td>Physics</td>         
					</tr>

					</tbody>
					</table>

					<hr class="colorgraph">

					</div>
   	 		</div>
   	 	</div>
   	 </div>

   </div>




