   <div class='container main_page'>
    <div class="" id="content">
        <div class="row">
            
			<div class="col-md-6 col-sm-12 ">
			    <div class="h_logo">
                <h1 class="hh"></h1>
                <span></span>
				</div>
				<img src="./assets/img/coaching.png" class="img-responsive home_banner1" width="100%">	
            </div>

			<div class="col-md-6 col-sm-6 h_logo home_text">
			 <p>In today’s technology-enabled world, Pegasus Consulting, through its LearnWiz<sup>©</sup> system, aims to retain the traditional experience of the teacher while making the art of teaching simple, focused on imparting knowledge and removing the drudgery out of both the teacher’s and student’s life. With its state-of-art LearnWiz<sup>©</sup> product, Pegasus Consulting provides tangible benefits to the four key stakeholders of the educational ecosystem: institutions, teachers, parents and students themselves.</p>
			 <p>With a very simple architecture, the system helps institutions deliver, track and measure the quality and quantity of knowledge imparted to students. All content is carefully put together by teachers with many years of classroom experience and aligned to specific curriculum. For teachers, LearnWiz<sup>©</sup> has proved a boon to remove the ennui and physical difficulties associated with writing the same content on the board, correcting it, losing focus on individual attention and thus improving the quality of teacher-student interaction. LearnWiz<sup>©</sup> also makes it easy for a student to “download” content and review lessons in their revision time.</p>
			</div>
			
			 <div class="col-md-12 col-sm-12  home_text">			​
				<p>The key LearnWiz<sup>©</sup> differentiators (as compared to the millions of tutorial-oriented products flooding the internet) include the ability to cover all content in a structured manner in one place, not take away the student’s imperative to practice by writing on paper as required in an examination and retaining the personal touch of a teacher, rather than a voice or a moving stylus.</p><p>LearnWiz<sup>©</sup> is not intended to be a replacement for the teacher – rather it is a tool designed to enhance the human aspect of the art of teaching.</p>
            </div>

            
			 
        </div>
        <!-- /.row -->
		
    </div>
</div>


