   <div class="container main_page">
   	 <div class="row">
   	 	<div class="col-md-12 text-center">
   	 		<div class="col-md-3">
   	 			<div class="col-md-12 profile_inner">
                	<div>
					    <h2>Welcome Arjun</h2>
        				<img src="./assets/img/logo.jpg" width="200px" alt="Teacher" class="img-circle img-thumbnail">                       
        			</div>
        		</div>
   	 		</div>
   	 		<div class="col-md-9">
   	 			<div class="col-md-12 profile_inner details">


					<hr class="colorgraph">
					<table class="table">
					<tbody>
					   <tr>
            <td>Name</td>
          <td>{{username}}</td>         
        </tr>
		 <tr>
            <td>Institution</td>
          <td>Kendra Vidhyalaya</td>         
        </tr>
		
		<tr>
            <td>E-mail</td>
          <td>student@abc.com</td>         
        </tr>
		<tr>
            <td>Curriculum</td>
          <td>CBSE</td>         
        </tr>
		<tr>
            <td>Class</td>
          <td>VIII</td>         
        </tr>
		<tr>
            <td>Section</td>
          <td>B</td>         
        </tr>
		
		<tr>
            <td>Father Name</td>
          <td>Arun Das</td>         
        </tr>
	 <tr>
            <td>Phone</td>
          <td>9874563210</td>         
        </tr>	
		<tr>
            <td>Address</td>
          <td>aaaa,bbbb,ccccc-675432.</td>         
        </tr>
					</tbody>
					</table>

					<hr class="colorgraph">

					</div>
   	 		</div>
   	 	</div>
   	 </div>

   </div>




