   <div class="container teacher_dash">
   		 <div class="container-fluid" id="content">
	<div class="row" id="main">
	
 <div class="col-md-12  mob_mb20">
			<div class="section3_heading">
				<h4>Welcome to the Teacher Menu. There are four key tasks you can do in this page.
</h4>
			</div>

			<div class="section3_body">
				<ul>
<li class="lis"><a href="#" class="links">Prepare</a> for your class by selecting topics to teach in class, select questions to cover in class, assign questions for homework or select questions to create tests.
</li>
<li class="lis"><a href="#" class="links">Teach</a> the class using Learnwiz© as a virtual blackboard.</li>
<li class="lis"><a href="#" class="links">Test</a> the knowledge of the class, by administering the test you have created under the prepare section.
</li>
<li class="lis">Publish answers to tests and assignments </li>
				</ul>
			</div>
		</div>

		
 
		
        
	</div>
    </div>
    
   </div>
  